/* --------General styles-------- */

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --primary-white-color: #ffffff;
  --grey-bg-color: #f5f4fa;
  --second-logo-color: #000000;
  --interactive-btn-color: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------Header-------- */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.header-logo-decoration {
  color: var(--second-logo-color);
}

.header-list-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  text-decoration: none;
}

.active-page {
  color: var(--accent-color);
}

.header-list-item:hover,
.header-list-item:focus {
  color: var(--accent-color);
}

.header-adress-list-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
}

.header-adress-list-item:hover,
.header-adress-list-item:focus {
  color: var(--accent-color);
}

/* --------Section Hero-------- */

.hero {
  background-color: var(--dark-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-align: center;
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--interactive-btn-color);
}

/* --------Section Feature-------- */

.feature-list-text {
  line-height: 1.71;
}

.feature-subtitle {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  color: var(--primary-title-color);
  text-transform: uppercase;
}

/* --------Section Activity-------- */

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-title-color);
  text-align: center;
}

/* --------Section Our team-------- */

.team {
  background-color: var(--grey-bg-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-title-color);
  text-align: center;
}

.team-card {
  width: 270px;
  height: 368px;
  background-color: var(--primary-white-color);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-title-color);
  text-align: center;
}

.team-role {
  font-size: 16px;
  line-height: 1.19;
  color: inherit;
  text-align: center;
}

/* --------Footer-------- */

.footer {
  background-color: var(--dark-bg-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.footer-logo-decoration {
  color: var(--primary-white-color);
}

.footer-address-link {
  font-style: normal;
  color: var(--footer-link-color);
  line-height: 1.71;
  text-decoration: none;
}

.footer-map {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-map:hover,
.footer-map:focus {
  color: var(--accent-color);
}

/* --------Portfolio page-------- */

.radiobutton-list-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  color: var(--primary-title-color);
  text-align: center;
  background-color: var(--grey-bg-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
}

.radiobutton-list-item:hover,
.radiobutton-list-item:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.cards-link {
  color: inherit;
  text-decoration: none;
}

.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  text-decoration: none;
}

.cards-text {
  font-size: 16px;
  line-height: 1.87;
}
